.header {
  margin: 0;
  padding: 0;
  padding-top: 45px;
  padding-bottom: 41px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  width: 100%;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 500px) {
  .header {
    padding-top: 28px;
    padding-bottom: 30px;
  }
}
